In [13]:
import pandas as pd
#Series y Etiquetas
data = [1, 2, 3, 4, 5]
etiquetas = ["a", "b", "c", "d", "e"]
series = pd.Series(data, index=etiquetas)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

DataFrames: Un DataFrame es una estructura bidimensional etiquetada con columnas
que pueden contener diferentes tipos de datos. Puedes pensar en él como una hoja de
cálculo o una tabla SQL.

Columnas: Cada columna en un DataFrame es esencialmente una Serie.

Índices: Los DataFrames tienen índices tanto para las como para columnas.
Creación de un DataFrame:

In [5]:
#Data Frames y columnas

datos = {"Nombre": ["Alice", "Bob", "Charlie"],
        "Edad": [25, 30, 35],
        "Ciudad": ["A", "B", "C"]}
df = pd.DataFrame(datos)
print(df)

    Nombre  Edad Ciudad
0    Alice    25      A
1      Bob    30      B
2  Charlie    35      C

Hay muchas formas de construir un DataFrame, aunque una de las más comunes es
de un dict de listas de igual longitud o matrices numpy:

Para grandes marcos de datos, el método head selecciona solo las primeras cinco
las:

In [26]:
data = {
        "state":["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year":[2000, 2001, 2002, 2001, 2002, 2003],
        "pop":[1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
        }

frame = pd.DataFrame(data)

# Imprimir las primeras filas del DataFrame
print(frame.head())

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

Manejo de DataFrames en pandas
Columnas de DataFrame
Si especica una secuencia de columnas, las columnas de DataFrame se organizarán
en esa orden:

Si pasa una columna que no está contenida en el dict, aparecerá con los valores
faltantes en el resultado:

In [29]:
pd.DataFrame(data, columns=["year", "state", "pop"])

frame2 = pd.DataFrame(data, columns=["year", "state", "pop", "debt"],
                      index=["one", "two", "three", "four", "five", "six"])
frame2
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

llamar una columna:
Se puede llamar una columna en un DataFrame como una Serie, ya sea por notación
similar a dict o por atributo:

In [30]:
frame2["state"]
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

frame2[columna] funciona para cualquier nombre de columna,
frame2.columna Solo funciona cuando el nombre de la columna es una variable
Python válida nombre.

Mostrar cómo utilizar etiquetas y posiciones para
indexar en Pandas.
La indexación avanzada en Pandas es una
característica poderosa que permite acceder y
manipular datos de manera más especíca utilizando
etiquetas y posiciones.
Indexación por Etiquetas:
Para acceder a datos utilizando etiquetas, puedes usar
los métodos loc[ ] o at[  ]. El siguiente ejemplo ilustra
cómo seleccionar una la y una columna especícas
por etiquetas:

In [ ]:
datos = {"Nombre": ["Alice", "Bob", "Charlie"],
         "Edad": [25, 30, 35],
         "Ciudad": ["A", "B", "C"]
         }
df = pd.DataFrame(datos, index=["a", "b", "c"])

#seleccionar datos con loc[]

seleccion_loc = df.loc["b", "Edad"]
print(seleccion_loc)

seleccion_at = df.at["b", "Edad"]
print(seleccion_at)